<div class="container">
  <form [formGroup]="formData">
    <div>
      <label class="form-label" for="address">Enter Address</label>
      <div class="#">
        <input type="text" 
               class="form-control" 
               id="address" 
               placeholder="Enter address"
               formControlName="address" 
               (input)="updateMap()" />
      </div>
    </div>
    <div>
      <google-map 
          height="90vh"
          width="100%"
          [center]="center"
          [zoom]="zoom"
          mapId="d22cde2d2915a452">
        <ng-container *ngFor="let position of markerPositions">
          <map-marker [position]="position"></map-marker>
        </ng-container>
      </google-map>
    </div>
  </form>
</div>